
body{

  height: 100vh;
}


/* the entire screen for playing the hangman game */
.board{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 94%;
  grid-gap: 20px;
  padding: 20px;
  background-color: #F1F1F1;
}

/* animations to show the state of the game */
.state{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow-y: auto;
  display : flex;
  align-items : center;
  text-align: center;
}

/* area for letters to choose from */
.letters{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  overflow-y: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap:15px;
  padding:15px;
}
.used_letters{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap:15px;
  padding:15px;
}

/* shows the unknown and known letters */
.words{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow-y: auto;
  display : flex;
  align-items : center;
  text-align: center;
}

.box{
  background-color: white;
  box-shadow: 1px 1px 2px #888888;
}

.letter{
  text-align: center;
  font-size: 2em;
  list-style-type: none;
  border-style:none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #888888;
  background-color: white;
}

.center{
  text-align: center;
  width:100%;
}

.word{
  font-size: 5em;
  letter-spacing: 20px;
}

.lives{
  font-size: 3em;
  background-color: black;
  color: white;
}

.correct{
  background-color: rgba(0, 255, 0, 0.2);
}
.used_letter{
  text-align: center;
  font-size: 2em;
  list-style-type: none;
  border-style:none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #888888;
}

.incorrect{
  background-color: rgba(255, 0, 0, 0.2);
}
