
.myHeader{
  box-shadow: 1px 1px 10px #AAAAAA;
  height:6%;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: minmax(6%, 1fr);
}
.navBtn{
  font-size: 1.5em;
  display : flex;
  align-items : center;
  text-align: center;
}
span{
  text-align: center;
  width:100%;
}
a:hover{
  text-decoration: none;

}
.title{
  grid-column: 1/3;
  grid-row: 1;
  
}
.loginh{
  grid-column: 9/11;
  /*grid-column: 11/12;*/
  grid-row: 1;
  text-align: right;

}
.signuph{
  grid-column: 11/13;
  /*grid-column: 12/13;*/
  grid-row: 1;
  text-align: right;
}
